name: Release

on:  
  workflow_dispatch:
    inputs:
      icon_pack:
        description: 'Choose Icon pack to update'
        required: true
        default: 'all'
        type: choice
        options:
        - all
        - \@cldcvr/flow-system-icon
        - \@cldcvr/flow-product-icon
        - \@cldcvr/flow-gcp-icon
        - \@cldcvr/flow-aws-icon
      update_type:
        description: 'Type of update'
        required: true
        default: 'minor'
        type: choice
        options:
        - minor
        - patch
defaults:
  run:
    shell: bash
    working-directory: .
env:
  DISTRIBUTION_ID: E1JYXHU7GFQMKF
  BUCKET_NAME: flow.cldcvr.com
  AWS_REGION: us-east-1
  ROLE_NAME: flow.cldcvr.com-role
  ACCOUNT_ID: 679519065279
jobs:
  update_icons:
    name: Updating icons
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUBLISH_TOKEN }}
          ref: main

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn
      - name: "Update Packages"
        env:
          GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "vikas@cldcvr.com"
          yarn update-packages --${{ inputs.icon_pack }} --${{ inputs.update_type }}
          git add -A
          git commit -m "Icons updated by GithubActions"
          git push origin main

  publish_to_npm:
    needs: update_icons
    name: Publishing to npm registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUBLISH_TOKEN }}
          ref: main

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish_to_github:
    needs: publish_to_npm
    name: Publishing to github registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUBLISH_TOKEN }}
          ref: main

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          registry-url: 'https://npm.pkg.github.com'
          always-auth: true
          scope: '@cldcvr'

      - name: Install Dependencies
        run: yarn
      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //npm.pkg.github.com/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release Pull Request or Publish to Github Packages
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn release --no-git-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
  deploy_to_storybook:
    needs: update_icons
    name: Deploying storybook
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUBLISH_TOKEN }}
          ref: main

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies and Build storybook
        run:  yarn && yarn run build-stories
      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{env.ACCOUNT_ID}}:role/${{env.ROLE_NAME}}
          aws-region: ${{env.AWS_REGION}}

      - name: Check Access
        run: |
           aws sts get-caller-identity

      - name: Copy files to the website with the AWS CLI
        run: |
           aws s3 sync packages/storybook/storybook-static/ s3://${{env.BUCKET_NAME}}/icons/

      - name: Invalidate CloudFront
        run: |
           aws cloudfront create-invalidation --distribution-id ${{env.DISTRIBUTION_ID}} --paths "/*"